.event-view {
    --background: #fff;
}

.container {
    padding: 20px;
    text-align: center;
}


/* HEADER */

.top-bar {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
}

.back-btn {
    z-index: 2;
}

.back-btn img {
    width: 20px;
}

.title-chip {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #F1F3F6;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
}


/* ICON */

.center-icon {
    margin: 40px auto 20px;
    width: 90px;
    height: 90px;
    background: #F4A43A;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-icon img {
    width: 28px;
}


/* TEXT */

h2 {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 600;
}

.desc {
    font-size: 13px;
    color: #9AA0A6;
    margin-bottom: 20px;
    line-height: 1.5;
}


/* TIMER */

.starts {
    font-size: 13px;
    color: #777;
}

.timer {
    display: inline-block;
    background: #F4A43A;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 600;
    max-width: 25%;
    margin: 6px auto;
}


/* 🔥 SWIPER FIX */

.swiper {
    width: 100%;
    height: 240px;
    margin-top: 20px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
}

.swiper-slide-active {
    transform: scale(1);
    opacity: 1;
}

.slide {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}


/* DOTS */

.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 6px;
}

.dot {
    width: 6px;
    height: 6px;
    background: #ccc;
    border-radius: 50%;
}

.dot.active {
    background: #000;
}


/* BUTTON */

.bottom-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: #f4a43a;
    padding: 16px;
    text-align: center;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: 0 6px 15px #00000026;
    opacity: 1;
    border: 1px solid #C5821F;
    font-size: 18px;
	cursor: pointer;
}

.bottom-btn.active {
    background: #F4A43A;
    opacity: 1;
}

{
    position: relative;
    top: 3px;
}