.event-page {
    --background: #fff;
}


/* Container */

.container {
    padding: 20px;
}


/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}

.event-page .logo img {
    width: 20px;
    margin-top: 3px;
}

.event-page .logo span {
    font-size: 16px;
    font-weight: 400;
}

.event-page .header-right {
    display: flex;
    gap: 20px;
}

.bell {
    width: 18px;
}



/* Tabs */

.event-page .tabs {
    display: flex;
    background: #F8F9FB;
    border-radius: 30px;
    margin: 5px 0 20px;
    padding: 8px 4px;
}

.event-page .tab {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px;
    font-size: 14px;
    color: #9AA0A6;
    cursor: pointer;
}

.event-page .menu {
    position: absolute;
    top: 5px;
    right: 5px;
}

.event-page .tab img {
    width: 14px;
}

.event-page .tab.active {
    background: #fff;
    border-radius: 14px;
    color: #2BA7A0;
    font-weight: 500;
    box-shadow: 0px 1px 2px -1px #0000001A;
    box-shadow: 0px 1px 3px 0px #0000001A;
}


/* Card */

.event-page .ecard {
    display: flex;
    gap: 14px;
    background: #fff;
    padding: 16px;
    border-radius: 18px;
    margin-bottom: 16px;
    border: 1px solid #F1F2F6;
    align-items: center;
    position: relative;
}


/* Icon */

.event-page .card-left {
    width: 64px;
    height: 64px;
    min-width: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-page .card-left img {
    width: 40px;
}

.teal {
    background: #E6F4F2;
}

.orange {
    background: #FFF3E6;
}

.light {
    background: #F2F2F2;
}


/* Body */

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.card-header-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.event-page .card-body h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.event-page .card-body p {
    margin: 8px 0 8px;
    font-size: 14px;
    color: #CCCCCC;
}


/* Meta */

.meta {
    display: flex;
    gap: 14px;
    font-size: 12px;
    color: #25201D !important;
}

.meta span {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
}


/* Badge LEFT */

.event-page .badge {
    margin-top: 8px;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: normal;
    display: flex;
    align-items: center;
}

.badge svg {
    margin: 0px 4px;
}

.live {
    background: #2BA7A0;
    color: #fff;
}

.upcoming {
    background: #F4A43A;
}

.scheduled {
    background: #F1F2F6;
}


/* Menu */

.event-page .menu img {
    width: 20px;
    cursor: pointer;
}


/* Dropdown */

.event-page .dropdown {
    position: absolute;
    top: 24px;
    right: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    padding: 6px 0;
    z-index: 10;
}

.dropdown-item {
    padding: 10px 16px;
    font-size: 14px;
    cursor: pointer;
}

.dropdown-item:hover {
    background: #f5f6f8;
}


/* Empty */

.empty {
    text-align: center;
    margin-top: 40px;
    color: #888;
}


/* Bottom Button */

.event-page .bottom-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: #F4A43A;
    padding: 16px;
    text-align: center;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    opacity: 1;
    border: 1px solid #C5821F;
    font-size: 18px;
}